*{box-sizing: border-box;}
*{padding: 0;margin: 0;}
a{text-decoration: none;}
.token.comment{
    color:black;
}
.token.selector{
    color:black; 
}
.token.punctuation{
    color:black;
}
.token.property{
    color:black;
}
body{
    height: 100vh;
}
#codeShow{
    width: 100%;
    overflow: hidden;
}
#paper{
    padding: 16px;
    position: fixed;
    width: 70%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: flex-start;
}
#content{
    display: flex;
}
.name{
    font-size: 28px;
    color: #f2fff4;
    margin-top: 20px;
    margin-bottom: 20px;
}
.job{
    font-size: 20px;
    color: #f2fff4;
    text-align: center;
}
.contact{
    font-size: 16px;
    color: #f2fff4;
    margin-top: 200px;
    text-align: center;
}
#programInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 22px;
    color:steelblue;
    padding: 10px;
}
.detail{
    font-size: 16px;
    color: #444;
    padding: 10px;
}
#preAdress{
    font-size: 16px;
    color: #444;
    padding: 10px;
}