*{box-sizing: border-box;}
*{padding: 0;margin: 0;}
.token.comment{
    color:black;
}
.token.selector{
    color:black; 
}
.token.punctuation{
    color:black;
}
.token.property{
    color:black;
}
body{
    height: 100vh;
}
#codeShow{
    width: 100%;
    overflow: hidden;
}
#content{
    display: none;
}