*{box-sizing: border-box;}
.token.comment{
    color:black;
}
.token.selector{
    color:black; 
}
.token.punctuation{
    color:black;
}
.codeWrapper{
    display: flex;
    height: 100vh;
    overflow: hidden;
    border: 1px solid red;
}
#codeShow{
    width: 100%;
    overflow: hidden;
}
#paper{
    border: 1px solid red;
}